/*
*
* Styling panels
*
*/
.panel {
  width: 72tick;
  border-radius: 2tick;

  &:not(:hover, :focus-within) ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  &[open] > .node-label:first-child {
    border-bottom: 0.5tick solid var(--light);
  }
}

/*
*
* Panel displaying a list of all nodes in the tree
*
*/
.list-panel {
  max-height: 100%;
  padding: 1tick 0;
  overflow-y: scroll;

  &-item {
    transition: 0.2s ease;

    &.empty {
      padding: 2tick 4tick;
      line-height: 1.5em;
    }

    &:not(.empty):hover {
      padding-left: 2tick;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.125), transparent);
    }

    & + .list-panel-item {
      border-top: inherit;
    }
  }
}

/*
*
* Panel displaying the selected node
*
*/
.node-panel {
  & > .node-label:is(:hover, focus):not(:active) {
    background: rgba(0, 0, 0, 0.125);
  }

  &__info {
    width: 100%;
    color: inherit;
    background: none;
    border: none;
    outline: none;

    line-height: 1.5em;
    resize: vertical;
  }
}
