/*
*
* Styling panels
*
*/
.panel {
  width: 72tick;
  border-radius: 2tick;

  &:not(:hover, :focus-within) ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  &[open] > *:not(:last-child) {
    border-bottom: 0.5tick solid var(--light);
  }
  &__header {
    display: grid;
    grid-template-columns: auto 1fr;

    & > svg:first-child {
      height: 100%;
      aspect-ratio: 1 / 1;
      margin-right: 1ch;
    }

    & > :second-child {
      padding: 2tick 4tick 2tick 0;
    }
  }

  &__list {
    &__item {
      cursor: pointer;
      transition: 0.2s ease;

      &:is(:hover, :focus):not(:active) {
        &.node-label-container {
          padding-left: 2tick;
        }
        &.history-item {
          padding-left: 6tick;
        }
      }

      &.empty {
        padding: 2tick 4tick;
      }

      & + & {
        border-top: 0.5tick solid var(--less-light);
      }
    }
  }
}

/*
*
* Panel displaying a list of all nodes in the tree
*
*/
.list-panel {
  max-height: 100%;

  & .panel__list {
    padding: 1tick 0;
    overflow-y: scroll;
  }

  &__item {
    transition: 0.2s ease;

    &.glass-button {
      padding: 0;
    }

    &.empty {
      padding: 2tick 4tick;
      line-height: 1.5em;
    }

    & .node-label .glass-input * {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/*
*
* Panel displaying history of all updates
*
*/
.history-panel .panel__list__item {
  &[current] {
    font-weight: bold;
  }
  &[erased] {
    opacity: 0.5;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
  }
}

/*
*
* Panel displaying the selected node
*
*/
.node-panel {
  max-height: calc(100% + 6tick);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  & > .node-label:is(:hover, :focus-within):not(:active) {
    background: var(--interact-highlight, rgba(255, 255, 255, 0.125));
  }

  & .glass-input {
    width: 100%;
    resize: vertical;
  }

  & .node-buttons {
    display: grid;
    gap: 2tick;
    padding: 2tick;

    & .glass-button {
      border-radius: 50tick;
      width: 100%;
      border: 0.5tick solid var(--interact-highlight);

      &.delete-button {
        border-color: rgba(220, 20, 60, 1);

        &:is(:hover, :focus):not(:active) {
          border-color: white;
          background: rgba(220, 20, 60, 1);
        }
      }
    }
  }
}

.child-list {
  overflow: hidden;

  &__label {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2tick 4tick 2tick 4tick;
    cursor: pointer;

    & > svg:first-child {
      margin-right: 1ch;
    }
  }
  &[open] &__label {
    border-bottom: 0.5tick solid var(--less-light);
  }

  &:last-child {
    border-bottom-left-radius: 2tick;
    border-bottom-right-radius: 2tick;
  }
}

.modal__container {
  position: fixed;
  inset: 0;
  background: var(--dark);
  z-index: 1000;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);

  display: grid;
  place-items: center;

  & .modal {
    max-width: 960px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-inline: auto;

    & .panel__list .panel__list__item {
      padding: 4tick;
    }
  }
}
